<script id="tmpl-GroupsView" type="text/html">

    <div class="GroupsView">
    
        <ol class="breadcrumb">
            <li class="active">Grupos</li>
        </ol>

        
    </div>

</script>