<script id="tmpl-GroupsView" type="text/html">

    <div class="GroupsView">
               
        <ul class="list-group voffsettop4 ">
          <li class="list-group-item list-group-item-info cursor-pointer admin hide" id="new-group-li">
                <a><span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo Grupo</a>     
          </li>
            <li class="list-group-item list-group-item-info cursor-pointer user hide" id="join-group-li">
                <a><span class="glyphicon glyphicon-pushpin">&nbsp;</span>Unirse a Grupo</a>     
          </li>
          {{#each groups}}
              <li class="list-group-item" data-entity="Group" data-entity-id="{{this.groupcode}}">

                  <section class="items-section cursor-pointer">
                      <span id="delete-group" class="glyphicon glyphicon-remove  pull-right blue"></span>
                      <span id="#copycode_label" class="label label-info pull-right clippable">{{this.groupcodestr}}</span>
                      <span id="groupcodestr" class="pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Código de grupo" data-original-title="" title=""></span>
                      <a id = "groupclick" class = "cursor-pointer">
                          <span class="glyphicon glyphicon-list-alt">&nbsp;</span>{{this.groupname}} 
                      </a>
                      
                  </section>
                  
              </li>
          {{/each}}
        </ul>

    </div>

</script>