<script id="tmpl-MainView" type="text/html">

    <div id="mobilemenu" class="mobile-menu">
        <a id="sidrlink" class="mobile-menu">
            <button id="mobilemenubtn" type="button" class="btn btn-link btn-lg mobile-menu">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </a>
    </div>

    <div id="sidr" class="navbar-header">

        <ul id="side-menu" class="nav nav-pills nav-stacked">
            <li  class="disabled" style="margin-bottom: -2px;margin-top: 5px;">
                <a>
                    <strong style="color: rgba(66, 139, 202, 0.65);padding-left: 5px;">eQ Menú</strong>
                </a>
            </li>
            <hr>
            <li id="side-menu-groups-button" class="groups disabled hide mobileappshow">
                <a>
                    <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
                    <strong>Grupos</strong>
                </a>
            </li>
            <li id="side-menu-back-button" class="back disabled mobileapphide">
                <a>
                    <span class="glyphicon glyphicon-share-alt">&nbsp;</span>
                    <strong>Volver</strong>
                </a>
            </li>
            <hr>
            <li id="side-menu-profile-button" class="profile disabled mobileapphide">
                <a>
                    <span class="glyphicon glyphicon-edit">&nbsp;</span>
                    <strong>Editar perfil</strong>
                </a>
            </li>
            <li id="side-menu-sync-button" class="syncro disabled hide mobileappshow">
                <a>
                    <span class="glyphicon glyphicon-refresh">&nbsp;</span>
                    <strong>Sincronizar ahora</strong>
                </a>
            </li>
            <hr>
            <li id="side-menu-sesclose-button" class="sesclose disabled">
                <a>
                    <span class="glyphicon glyphicon-log-out">&nbsp;</span>
                    <strong>Cerrar sesión</strong>
                </a>
            </li>
            <hr>
            <li class="disabled">
                <a>
                    <small>
                        <span class="small glyphicon glyphicon-envelope">
                        <em id="side-menu-useremail"></em>
                    </small>
                </a>
            </li>
            <li class="disabled hide mobileappshow">
                <a>
                    <small><span class="glyphicon glyphicon-cloud-upload"> Sincronizado:</small>
                    <small><br><em class = "small" id="last-sync"></em></small>
                </a>

            </li>
        </ul>

    </div>

    <div class="MainView container">
      
        <div class="header voffsettop3 voffsetbot3 hidden-xs">
        
            <ul class="nav nav-pills pull-right">
                <li><button id="top-menu-back-button" type="button" class="btn btn-link hide back">Volver</button></li>
                <li><button id="top-menu-profile-button" type="button" class="btn btn-link hide profile">Editar perfil</button></li>
                <li><button id="top-menu-sesclose-button" type="button" class="btn btn-link hide sesclose">Cerrar sesión</button></li>
            </ul>
            
            <h3 class="text-muted">eQ</h3>
            
      </div>
        
        <ol class="breadcrumb voffsetbot2">
            <li class="active" id="bread-crumb"></li>
        </ol>
            
        <div class="alert alert-danger alert-block fade error">
            <button type="button" class="close">x</button>
        </div>
        
        <div class="MainView-subView">
        </div>

        <!--<div class="footer">
            <p>&copy; Alejandro C. 2014</p>
        </div>-->
 
     </div>
        
</script> 