<script id="tmpl-RegisterUserView" type="text/html">

    <div class="RegisterUserView">
    
        <ol class="breadcrumb voffsettbot2">
            <li class="active">Registrar usuario</li>
        </ol>
        
        <form id="register-form" class="form-horizontal" role="form">
          
          <div class="alert alert-danger alert-block fade voffsettbot2">
            <button type="button" class="close">×</button>
          </div>
          
          <div class="form-group">
            <label for="regu-user-email" class="col-lg-2 control-label">Email:</label>
            <div class="col-lg-9">
              <input type="email" class="form-control input" id="regu-user-email" placeholder="Email" autocomplete="on" required data-prop="useremail">
            </div>
          </div>
          
          <div class="form-group">
            <label for="regu-user-name" class="col-lg-2 control-label">Nombre:</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="regu-user-name" placeholder="Nombre" autocomplete="on" required data-prop="username">
            </div>
          </div>
          
          <div class="form-group">
            <label for="regu-user-lastnames" class="col-lg-2 control-label">Apellidos:</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="regu-user-lastnames" placeholder="Apellidos" autocomplete="on" required data-prop="userlastnames">
            </div>
          </div>

          <div class="form-group">
            <label for="regu-user-password" class="col-lg-2 control-label">Contraseña:</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" id="regu-user-password" placeholder="Contraseña" required data-prop="userpassword">
            </div>
          </div>
          
          <div class="form-group">
            <label for="regu-user-retypepassword" class="col-lg-2 control-label">Contraseña:</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" id="regu-user-retypepassword" placeholder="Repita contraseña" required data-prop="userretypepassword">
            </div>
          </div>
          
          <div class="form-group">
            <label for="regu-user-admin" class="col-lg-2 col-xs-3 control-label">¿Profesor?:</label>
            <div class="checkbox col-lg-3 col-xs-3">
                <input id="regu-user-admin" type="checkbox" value="" required data-prop="useradmin">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-5 col-xs-offset-5">
              <button type="submit" class="btn btn-info" value="registeruser" data-action="registeruser" id="regu-register_button">Registrar</button>
            </div>
          </div>
          
        </form>

        
    </div>

</script>