<script id="tmpl-ResultItemView" type="text/html">
    <div class="ResultItemView">
        
        <div id="alert-correct" class="alert alert-info" style="text-align:center;">
            <strong>{{success}}</strong> respuesta(s) correctas de <strong>{{total}}</strong>
        </div>
        
        <div class="progress">
          <div id="progress-correct" class="progress-bar progress-bar-success" style="width: {{successpercentage}}%;"></div>
          <div id="progress-wrong" class="progress-bar progress-bar-danger" style="width: {{failpercentage}}%"></div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-5 col-xs-offset-5">
              <button type="button" class="btn btn-info btn-l" data-action="gostart" id="gostart_button">Aceptar</button>
            </div>
          </div>

    </div>
</script>