<script id="tmpl-ResultItemView" type="text/html">
    <div class="ResultItemView">
        
        <div id="alert-correct" class="alert alert-success">
          24 respuestas correctas
        </div>
        
        <div class="progress">
          <div id="progress-correct" class="progress-bar progress-bar-success" style="width: 60%;"></div>
          <div id="progress-wrong" class="progress-bar progress-bar-danger" style="width: 40%"></div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-5 col-xs-offset-5">
              <button type="button" class="btn btn-info btn-l" data-action="gostart" id="gostart_button">Aceptar</button>
            </div>
          </div>

    </div>
</script>