<script id="tmpl-UpdateUserView" type="text/html">

    <div class="UpdateUserView">

        <form id="update-user-form" class="form-horizontal" data-entity="User" data-entity-id="{{user.useremail}}" role="form">
          
          <div class="form-group">
            <label for="updu-user-email" class="col-lg-2 control-label no-mobile">Email:</label>
            <div class="col-lg-9">
                <p class="form-control-static"><strong>{{user.useremail}}</strong></p>
            </div>
          </div>
          
          <div class="form-group">
            <label for="updu-user-name" class="col-lg-2 control-label">Nombre:</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="updu-user-name" placeholder="Nombre" autocomplete="on" data-prop="username" value="{{user.username}}">
            </div>
          </div>
          
          <div class="form-group">
            <label for="updu-user-lastnames" class="col-lg-2 control-label">Apellidos:</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="updu-user-lastnames" placeholder="Apellidos" autocomplete="on" data-prop="userlastnames" value="{{user.userlastname}}">
            </div>
          </div>

          <div class="form-group">
            <label for="updu-user-password" class="col-lg-2 control-label">Contraseña:</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" id="updu-user-password" placeholder="Contraseña" data-prop="userpassword">
            </div>
          </div>
          
          <div class="form-group">
            <label for="updu-user-retypepassword" class="col-lg-2 control-label">Contraseña:</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" id="updu-user-retypepassword" placeholder="Repita contraseña" data-prop="userretypepassword">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-5 col-xs-offset-5">
              <button type="submit" class="btn btn-info btn-l" value="updateuser" data-action="updateuser" id="updu-update-button">Actualizar</button>
            </div>
          </div>
          
        </form>

        
    </div>

</script>