<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Alex">
    <title>eQ</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/css/jumbotron-narrow.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css">

    <!-- APP CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!--    This pageBody will be position in the main.css. -->
    <div id="pageBody">

    </div>


    <!-- libs -->
    <script type="text/javascript" src="js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="js/lib/readmore.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.sidr.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/lib/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="js/lib/brite.min.js"></script>
    <script type="text/javascript" src="js/lib/liveclip.jquery.js"></script>


    <!-- libs Mobile-->
    <script type="text/javascript" src="js/lib/wormhole.js"></script>
    <script type="text/javascript" src="js/lib/spin.min.js"></script>
    <script type="text/javascript" src="js/lib/js-webshim/minified/extras/modernizr-custom.js"></script>
    <script type="text/javascript" src="js/lib/js-webshim/minified/polyfiller.js"></script>
    <!-- daos Mobile-->
    <script type="text/javascript" src="js/dao/Bd.js"></script>
    <script type="text/javascript" src="js/dao/BdUserDaoHandler.js"></script>
    <script type="text/javascript" src="js/dao/BdGroupDaoHandler.js"></script>
    <script type="text/javascript" src="js/dao/BdItemDaoHandler.js"></script>
    <script type="text/javascript" src="js/dao/BdAnswerDaoHandler.js"></script>
    <script type="text/javascript" src="js/dao/Sync.js"></script>

    <!-- Mobile -->
    <script type="text/javascript" src="js/app/mobilehybrid.js"></script>

    <!-- TAI -->
    <script type="text/javascript" src="js/app/tai.js"></script>

    <!-- main -->
    <script type="text/javascript" src="js/app/main.js"></script>


</body>

</html>